<h1>0 Result</h1>
<h1><strong>Sorry...</strong></h1>
<h1>you're out of luck</h1>
<p>What you're looking for is not currently avaliable to borrow.</p>

<h1>But you can ask your neighbours <strong>to help you</strong></h1>

<button type="button"><%= link_to "REQUEST HELP", help_requests_new_path() %></button>
