<div class="main-container borro">
  <%= link_to "", 'javascript:history.back()', class:"fas fa-angle-left back-btn"%>
  <%= link_to notification.to_notification.message, notification.to_notification.url %>
</div>
