<div class="main-container borro">
  <%= link_to "", 'javascript:history.back()', class:"fas fa-angle-left back-btn"%>
  <% @notifications.each do |notification| %>
    <%= notification.message %>
  <% end  %>
</div>
