<div class="main-container borro">

  <div class="character-container">
    <%= image_tag("characters/booking-new.png") %>
  </div>

  <h2><strong>No worries, edit it:</strong></h2>
    <div class="white-card">

      <%= render "form", booking: @booking, post: @post, button_name: 'Edit Booking' %>
      <button type="button" class="btn btn-success"><%= link_to "Return", post_booking_path(@post, @booking) %></button>

    </div>
</div>
