<div class="main-container borro">
<br>
  <h2><strong>No worries, edit it:</strong></h2>
    <div class="white-card">
      <%= render "form", booking: @booking, post: @post, button_name: 'Edit Booking' %>
    </div>
</div>
