<div class="main-container borro">

  <div class="character-container">
    <%= image_tag("characters/booking-new.png") %>
  </div>

  <h5><strong>Let’s book it!</strong></h5>
  <br>
    <div class="white-card">
      <%= render "form", booking: @booking, button_name: "OK" %>
    </div>
</div>
