<div class="main-container borro">

  <div class="character-container">
    <%= image_tag("characters/booking-new.png") %>
  </div>

  <h2><strong>Let’s book this!</strong></h2>
    <div class="white-card">
      <%= render "form", booking: @booking, button_name: "BORROW" %>
    </div>
</div>
