<div class="navbar navbar-expand-sm navbar-light navbar-borro">
  <div class="navbar-item d-flex justify-content-around">
  <div class="d-flex flex-column">
    <a href="/"><i class="far fa-comment-alt"></i></a>
    <p>Home</p>
  </div>
  <div class="d-flex flex-column">
    <a href="#"><i class="far fa-comment-alt"></i></a>
    <p>Messages</p>
  </div>
  <div class="d-flex flex-column">
    <a href="/pages/my_bookings"><i class="far fa-calendar"></i></a>
    <p>Bookings</p>
  </div>
  <div class="d-flex flex-column">
    <a href="#"><i class="far fa-user"></i></a>
    <p>Profile</p>
  </div>
  </div>
</div>
