<div class="main-container borro">
  <h1>Welcome, <%= current_user.username %></h1>

  <div class="white-card">
    <div class="card-content">
      <h2><strong>Want to help</strong> your neighbours?</h2>
      <button type="button" class="btn btn-success mt-1"><%=link_to "BE A LENDER", new_post_path %>
      <button type="button" class="btn btn-success mt-1"><%=link_to "SOLVE A REQUEST"%>
    </div>
  </div>

  <div class="white-card">
    <div class="card-content">
      <h2><strong>Need help</strong> from your neighbours?</h2>
      <button type="button" class="btn btn-primary mt-1"><%=link_to "BORROW", pages_search_path%>
    </div>
  </div>
</div>
