<div class="borro landing">

  <div class="logo-container">
      <%= image_tag("borro-logo.png", :style=> "width: 200px") %>
  </div>

  <div class="landing-container">
    <%= image_tag("landing icon.png") %>
  </div>

  <div class="main-container borro center pt-0">
    <h6 style="color: white">Count on <strong>your neighbours</strong></h6>
      <br>
    <button type="button" class="btn btn-success m-1">
      <%= link_to "LET'S GO", pages_home_path() %>
    </button>
  </div>

  <br>

  <br>
</div>
