<div class="main-container borro d-flex flex-column" style="background-color: #5868FC; height: 667px; width: 375px; padding-left: 20px;padding-right: 20px;">


<div class="character-container" id="borro-icon" style="padding-left: 30px;height: 120px; ">
    <%= image_tag("borro icon.png", :style=> "width: 150px") %>
</div>

<h2 style="color: white; padding-left: 30px ">Count on <strong>your neighbours</strong></h2>

<div class="character-container" id="landing-icon">
  <%= image_tag("landing icon.png", :style =>"width: 300px;height: 300px;margin: auto;") %>

</div>

<button type="button" class="btn btn-primary m-1">
  <%= link_to "LET'S GO", pages_home_path() %>
</button>
</div>
