<div class="main-container borro">
<%= link_to "", 'javascript:history.back()', class:"fas fa-angle-left back-btn"%>

  <div class="character-container">
    <%= image_tag("characters/post-confirmation.png") %>
  </div>
<br>
  <div class="center">
    <h5><strong>Thank you!</strong> </h5><h3>You’ll make someone’s day.</h3>
    <br>
    <p>Now let’s wait, until a neighbour contact you to borrow it.</p>
    <button type="button" class="btn btn-primary"><%= link_to "CHECK OUT MY POST", post_path(@post) %></button>
  </div>
</div>
