<div class="main-container borro">
   <a href="/posts/new"><i class="fas fa-angle-left back-btn"></i></a>

  <div class="character-container">
    <%= image_tag("characters/post-confirmation.png") %>
  </div>

  <h2><strong>You’ll make someone’s day, thank you!</strong></h2>
  <br>
  <h2>Now let’s wait, until a neighbour contact you to borrow it.</h2>
  <br>
  <button type="button" class="btn btn-primary"><%= link_to "CHECK OUT MY POST", posts_path %></button>
</div>
