<div class="main-container borro">

    <%= link_to "", 'javascript:history.back()', class:"fas fa-angle-left back-btn"%>

  <div class="character-container">
    <%= image_tag("characters/search-borrower.png") %>
  </div>

  <div class="center-content">
    <h3> <strong> You need to borrow:</strong></h3>

    <form action="/search/result" accept-charset="UTF-8" method="get">

    <div class="toggle-card">
      <%# <label for="query"></label> %>
        <input class="form-toggle" type="radio" value="product" name="category" id="category_product">
        <label for="category_product">SOMETHING</label>

        <input class="form-toggle" type="radio" value="service" name="category" id="category_service" checked>
        <label for="category_service">SOME TIME</label>
    </div>
    <div class="white-card">
        <p> <input class="input_field" style="font-family: FontAwesome;" placeholder="&#xf002" type="text" name="description" id="description"></p>
        <p><input class="input_field" step="0.5" min="1.0" max="20.0" placeholder="0" type="number" name="duration" id="duration"> Days</p>

        <p><input class="input_field" placeholder="Distance" type="text" name="distance" id="distance"> km</p>

        <button type="submit" class="btn btn-primary search-button">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <br>
        <br>
    </div>
     </form>
  </div>
</div>
