<div class="main-container">
  <%= simple_form_for [ @help_request, @help ] do |f| %>
        <%= f.input :message %> <p>Explain how you can help and share your catch-up preferences.</p>
        <%= f.submit name: button_name, class: "btn btn-primary" %>
        <button type="button" class="btn btn-danger"><%= link_to "Back", root_path %></button>
    <% end %>
</div>
