.borro button {
  a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  color: white;
}
}


.back-btn {
  background-color: white;
  border-radius: 50%;
  color: $body-color;
  padding: 2px 9px 2px 8px;
  font-size: 25px;
  position:absolute;
  top:20px;
  left:40px;

.borro.btn {
  padding: 6px 20px;
}
}

#borrow-button {
  width: 158px !important;
  font-weight: 700;
  font-size: 14px;
  color: white;
}

#lender-buttons {
margin-top: 12px;
}
