.white-card {
  background-color: white;
  padding: 25px 20px;
  border-radius: 20px;
  margin: 10px 0px;
}

.toggle-card {
  background-color: white;
  padding: 2px 4px;
  border-radius: 20px;
  margin: 10px 0px;
  text-align: center;
}

.gray-card {
  background-color: $light-gray;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 10px 0px;

  p {
    margin-bottom: 2px;
  }
}

.category-white-card{
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
}

.purple-card {
  background-color: $purple;
  color: $light-gray;
  padding: 25px 20px;
  border-radius: 20px;
  margin: 10px 0px;

  h5 {
    color: $white;
  }
}
