.navbar-borro {
  background: $white;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9;
  padding-top: 12px;
  // padding: 0px 20px 0px 20px;
}

.navbar-item {
  float: left;
  display: block;
  text-align: center;
    .badge{
      color: white;
      background: red;
    }
}

.navbar-item {

  p {
    font-size: 15px;
    color: $dark-purple;
    padding: 0px 12px;
    margin-bottom: 2px;
  }

  a {
    text-decoration: none;
    font-size: 14px;
    color: $dark-purple;
  }
}

.navbar-borro .navbar-item.a.active {
  color: $orange !important;
  font-weight: 700 !important;
}

.selected-button {
  color: $orange !important;
}
